<div class="port-scanner-list__table">
    <table>
        <thead>
        <tr>
            <td>{{ 'Port'|trans }}</td>
            <td>{{ 'Action'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% if ports.ignorePorts %}
            {% for port in ports.ignorePorts %}
                <tr>
                    <td><span>{{ port }}</span></td>
                    <td>
                        <a href="/wtotem/ignore_ports/remove/{{ port }}" class="use-ajax">
                            {{ 'Remove'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>