<div class="wtotem_chart wt_card" id="firewall_data">
    <div id="waf_chart_wrap">
        {% include '@wtotem/wtotem-firewall-chart.html.twig' with {'chart': chart, 'days': days } %}
    </div>

    <div class="wtotem_data">
        <div class="wtotem_data__thead">
            <div class="wtotem_data__tr">
                <div class="wtotem_data__th wtotem_data_width_1">
                    {{ 'Type/IP'|trans }}
                </div>
                <div class="wtotem_data__th wtotem_data_width_2">
                    {{ 'Country'|trans }}
                </div>
                <div class="wtotem_data__th wtotem_data_width_3">
                    {{ 'Time'|trans }}
                </div>
                <div class="wtotem_data__th wtotem_data_width_4">
                    {{ 'Attack location'|trans }}
                </div>
                <div class="wtotem_data__th wtotem_data_width_6">
                    {{ 'Status'|trans }}
                </div>
            </div>
        </div>
        <div class="wtotem_data__tbody">
            <div id="waf_logs_wrap">
                {% include '@wtotem/wtotem-firewall-logs.html.twig' with {'logs': logs, 'page': page, 'has_next_page': has_next_page } %}
            </div>
        </div>
    </div>


{% if page == 'firewall' %}
        <div class="wtotem_more_btn_wrap">
            {% if has_next_page %}
                <a href="/wtotem/lazy_load/firewall" class="use-ajax wtotem_more_btn" id="waf_load_more">{{ 'Show more'|trans }}</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="wtotem_chart__line"></div>
</div>

<div class="popup-overlay d-none" id="firewall-log-report">
    <div class="popup-content wt_card">
        <div class="port-scanner-list">
            <div class="port-scanner-list__header">
                <div class="port-scanner-list__header--title">{{ host_name }}</div>
                <div class="port-scanner-list__header--close popup-overlay__close">
                    <img width="10px" height="10px" src="{{ images_path }}plus_dark.svg" class="svg-icon">
                </div>
            </div>

            <section class="firewall-log-report">
                <ul class="firewall-log-report__list">
                    <li class="firewall-log-report__item firewall-log-report__item--blue">
                        <p class="firewall-log-report__item-title">Hostname:</p>
                        <p class="firewall-log-report__item-value">{{ host_name }}</p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">IP:</p>
                        <p class="firewall-log-report__item-value" id="wt_user_ip"></p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Proxy IP:</p>
                        <p class="firewall-log-report__item-value" id="wt_proxy_ip"></p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Source:</p>
                        <p class="firewall-log-report__item-value" id="wt_source">0</p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Request:</p>
                        <p class="firewall-log-report__item-value" id="wt_request"></p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-value">
                            <span class="firewall-log-report__item-title">User agent:</span>
                            <span id="wt_user_agent"></span>
                        </p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Time:</p>
                        <p class="firewall-log-report__item-value" id="wt_time"></p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Type:</p>
                        <p class="firewall-log-report__item-value" id="wt_type"></p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Category:</p>
                        <p class="firewall-log-report__item-value" id="wt_category"></p>
                    </li>
                    <li class="firewall-log-report__item">
                        <p class="firewall-log-report__item-title">Country:</p>
                        <p class="firewall-log-report__item-value" id="wt_country"></p>
                    </li>
                </ul>
                <div class="firewall-log-report__payload-wrapper">
                    <p class="firewall-log-report__payload-title">Payload:</p>
                    <p class="firewall-log-report__payload" >
                        <span class="firewall-log-report__payload-text" id="wt_payload"></span>
                        <span class="wtotem-recovery-btn">
                            <img src="{{ images_path }}copy-min.svg" alt="" id="wtotem-request-copy">
                        </span>
                    </p>
                </div>
            </section>

        </div>
    </div>
</div>