<main class="wtotem_content">
    <div class="wtotem_container">

        <div class="section-header-mb">
            <h2 class="h2 title"> {{ 'Help center'|trans }}</h2>
        </div>

        <!-- links -->
        <div class="wtotem_help-list__links wtotem_help-links">
            <ul class="wtotem_help-links__list">
                <li class="wtotem_help-links__item">
                    <a class="wtotem_help-links__title" target="_blank" href="https://wtotem.com/docs/">
                        {{ 'General information'|trans }}
                    </a>
                </li>
                <li class="wtotem_help-links__item">
                    <a class="wtotem_help-links__title" target="_blank" href="https://docs.wtotem.com/about-webtotem">
                        {{ 'Our tools'|trans }}
                    </a>
                </li>
                <li class="wtotem_help-links__item">
                    <a class="wtotem_help-links__title" target="_blank" href="https://docs.wtotem.com/agent-statuses">
                        {{ 'Description of statuses'|trans }}
                    </a>
                </li>
                <li class="wtotem_help-links__item">
                    <a class="wtotem_help-links__title" target="_blank" href="https://docs.wtotem.com/registration">
                        {{ 'Instructions'|trans }}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</main>
