{% if logs %}

    {% for log in logs %}
        <div class="wtotem_file-table__tr">

            <div class="wtotem_file-table__td wt-flex break-word {{ log.class_path }}">
                <span class="wtotem_file_path {{ log.class_path }}" title="{{ log.file_path }}">
                    {{ log.file_path|slice(0, 60) }}
                </span>
            </div>

            <div class="wtotem_file-table__td">
                {{ log.permissions }}

                {% if log.permissions_changed  %}
                    <span title="{{ 'Permissions or access rights has been modified'|trans }}">
                        <img src="{{ images_path }}alert-warning.svg" alt="Warning icon" height="12px" width="15px" >
                    </span>
                {% endif %}
            </div>

            <div class="wtotem_file-table__td">
                {{ log.time }}
            </div>

            <div class="wtotem_file-table__td {{ log.class_path }}">
                {{ log.status.text }}
            </div>


            <div class="wtotem_file-table__td text-align-center">
                {% if log.event == 'infected' %}
                    <a href="/wtotem/quarantine/add/{{ log.original_path }}" class="use-ajax" title="{{ 'Move to quarantine'|trans }}">
                        <img src="{{ images_path }}av-trash-red.svg" >
                    </a>
                {% else %}
                    <div class="wt-icon" title="">
                        <img src="{{ images_path }}av-trash-gray.svg" >
                    </div>
                {% endif %}
            </div>



        </div>
    {% endfor %}

{% else %}
    <!-- No data block -->
    <section class="wtotem_reports-no-data" style="height:300px" >
        <h2 class="h2 visually-hidden">{{ 'No data'|trans }}</h2>
        <p class="wtotem_reports-no-data__text">
            {{ 'Has no action ready yet'|trans }}
        </p>
    </section>
{% endif %}
