<div class="wtotem_scanning" id="scanning" style="display: flex; justify-content: space-between;">
    <div class="wt_card" style="width: 49%;  padding: 20px">
        <div class="port__top">
            <div class="open-path__header">
                <h3 class="h3 wtotem_table__title wtotem_title-info__title">
                    {{ 'Port scanner'|trans }}
                    <span class="wtotem_title-info__info wtotem-tooltip wtotem-tooltip-top">
                    <span class="wtotem-tooltip__content">
                        <span class="wtotem-tooltip__header">{{ 'Port scanner'|trans }}</span>
                        <span class="wtotem-tooltip__text">{{ 'Detects open ports on the server. Potentially, open ports can be dangerous and used by hackers.'|trans }} </span>
                    </span>
                </span>
                </h3>

                <a href="/wtotem/force_check/ps" class="use-ajax" class="open-path__force-check-btn">
                    {{ 'ForceCheck'|trans }}
                    <img width="18px" height="18px" src="{{ images_path }}recheck.svg" class="svg-icon">
                </a>
            </div>


            <div class="port__last-check">

                <div class="port__last-status">
                    <p class="port__last-status-title">{{ 'Status'|trans }}</p>
                    <p class="port__last-status-value {{ ports.status.class }}" id="port_status">{{ ports.status.text }}</p>
                </div>
                <div class="port__last-check-date">
                    <p class="port__last-check-date-title">{{ 'Last test'|trans }}</p>
                    <p class="port__last-check-date-value" id="port_last_check">{{ ports.last_test }}</p>
                </div>
            </div>
        </div>

        {% if ports.TCPResults %}
            <div class="port__result">
                <p class="port__result-title">{{ 'Open ports'|trans }}</p>
                <div class="wt-stats__value port-scanner-ports">
                    <ul class="port__result-list" id="open_ports_wrap">
                        {% include '@wtotem/wtotem-open-ports.html.twig' with {'ports': ports.TCPResults|slice(0, 3), 'more': true} %}
                    </ul>
                </div>
            </div>

        {% else %}
            <div class="open-path__no-data">
                <div class="open-path__no-data-text">
                    <p class="open-path__no-data-heading">{{ 'Everything is ok'|trans }}</p>
                    <div class="open-path__no-data-status">
                        <img width="18px" height="18px" src="{{ images_path }}everything-is-ok.svg" class="svg-icon">
                        {{ 'No open ports found'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="wt_card"  style="width: 49%; padding: 20px">
        <div class="open-path__top">
            <div class="open-path__header">
                <h3 class="h3 wtotem_table__title wtotem_title-info__title">
                    {{ 'Open paths'|trans }}
                    <span class="wtotem_title-info__info wtotem-tooltip wtotem-tooltip-top">
                    <span class="wtotem-tooltip__content">
                        <span class="wtotem-tooltip__header">{{ 'Open paths'|trans }}</span>
                        <span class="wtotem-tooltip__text">{{ 'Display potentially dangerous open paths'|trans }} </span>
                    </span>
                </span>
                </h3>

                <a href="/wtotem/force_check/ops" class="use-ajax" class="open-path__force-check-btn">
                    {{ 'ForceCheck'|trans }}
                    <img width="18px" height="18px" src="{{ images_path }}recheck.svg" class="svg-icon">
                </a>
            </div>
            <div class="open-path__last-check">
                <div class="open-path__last-status">
                    <p class="open-path__last-status-title">{{ 'Status'|trans }}</p>
                    <p class="open-path__last-status-value {{ open_path.status.class }}" id="ops_status">{{ open_path.status.text }}</p>
                </div>
                <div class="open-path__last-check-date">
                    <p class="open-path__last-check-date-title">{{ 'Last test'|trans }}</p>
                    <p class="open-path__last-check-date-value" id="ops_last_check">{{ open_path.last_test }}</p>
                </div>
            </div>
        </div>
        <div id="open_paths_wrap">
            {% include '@wtotem/wtotem-open-paths.html.twig' with {'paths': open_path.paths} %}
        </div>

    </div>

</div>