<div class="popup-overlay d-none" id="port-scanner-popup">
    <div class="popup-content wt_card">
        <div class="port-scanner-list">
            <div class="port-scanner-list__header">
                <div class="port-scanner-list__header--title">{{ 'Ports list'|trans }}  {{ test }}</div>
                <div class="port-scanner-list__header--close popup-overlay__close">
                    <img width="10px" height="10px" src="{{ images_path }}plus_dark.svg" class="svg-icon">
                </div>
            </div>
            <div class="port-scanner-list__form port__result">
                <span>{{ 'Open ports'|trans }}</span>
                <div class="port-scanner-list__form-ports" id="open_ports_modal_wrap">
                    <ul class="port__result-list" id="port_result_list">
                    {% if ports.TCPResults %}
                        {% include '@wtotem/wtotem-open-ports.html.twig' with {'ports': ports.TCPResults} %}
                    {% endif %}
                    </ul>
                </div>

                <div class="port-cve__technology-container" style="display: none">
                    <div class="port-cve__technology">
                        <div class="port-cve__technology-info"><p>{{ 'Technology'|trans }}</p>
                            <div class="port-cve__technology-description">
                                <img width="40" height="40" class="port-cve__technology-icon" src="{{ images_path }}defaultTechnologiesIcon.svg">
                                <div class="port-cve__technology-details">
                                    <p class="port-cve__technology-name" id="technology_name"></p>
                                    <p class="port-cve__technology-version" id="technology_version"></p>
                                </div>
                            </div>
                        </div>
                        <a href="/wtotem/ignore_ports/add/" class="use-ajax wt-button wt-font-700 port-cve__technology-btn" id="add_port">{{ 'Add to ignore list'|trans }}</a>
                    </div>
                    <div class="port-cve__cve-container" id="cve_container"></div>
                </div>

                {{ form.form_build_id }}
                {{ form.form_token }}
                {{ form.form_id }}

                <div class="port-scanner-list__form-input">
                    <div class="wt-input">
                        <div class="wt-input__inner wt-input__inner--with-icon">
                            {{ form.port }}
                        </div>
                    </div>

                        {{ form.submit }}
                        {{ form.messages }}
                </div>
            </div>

            <span style="padding: 24px 22px;">{{ 'Ignored ports'|trans }}</span>
            <div class="port-scanner-list__wrap" id="ignore_ports_wrap">
                {% include '@wtotem/wtotem-ignore-ports.html.twig' with {'ports': ports} %}
            </div>

        </div>
    </div>
</div>
