{% include '@wtotem/wtotem-header.html.twig' with {'theme_mode': theme_mode, 'notifications': notifications, 'is_active': is_active} %}

<div class="wtotem_container">
    <div class="wtotem_holder">
        <div class="wtotem_holder__content">

            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}

            <section class="wt_card notifications-settings wtotem-mb-20">
                <div class="notifications-settings__header-wrapper">
                    <h3 class="h3 wtotem-mb-15">{{ 'Module settings'|trans }}</h3>
                    <p class="notifications-settings__text">
                        {{ 'If you do not need any module, then you can disable it'|trans }}
                    </p>
                </div>
                <div style="position: relative;">
                    <ul class="togglers-list module-list">
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Firewall'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_waf }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Antivirus'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_av }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Server status'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_ss }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Availability/SSL'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_wa }}
                            </div>
                        </li>

                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Deface'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_dc }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Reputation'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_rc }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Port scanner'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_ps }}
                            </div>
                        </li>

                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Technologies'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.module_cms }}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <div class="wt_card wtotem-mb-20 block-country-section">
                <div class="block-country-section__content">
                    <h3 class="h3 wtotem-mb-15">{{ 'Country blocking'|trans }} </h3>
                    <p class="notifications-settings__text">{{ 'Block countries you want to limit access to your website.'|trans }}</p>
                </div>
                <span class="wtotem_control__btn button wtotem_btn_wc" id="block_countries_btn" style="white-space: nowrap;">{{ 'Block countries'|trans }}</span>

                {% include '@wtotem/wtotem-country-blocking-modal.html.twig' with {'form': form, 'mock_attacks': mock_attacks, 'blocked_countries_count': blocked_countries_count} %}
            </div>

            <section class="wt_card wtotem-mb-20">
                <h3 class="h3 settings__header">{{ 'IP lists configuration'|trans }}</h3>

                <div class="wtotem-tabs firewall-configuration">

                    <ul class="wtotem-tabs__caption firewall-configuration__list-types">
                        <li class="firewall-configuration__list-types-item active">{{ 'Allow list'|trans }}</li>
                        <li class="firewall-configuration__list-types-item">{{ 'Deny list'|trans }}</li>
                        <li class="firewall-configuration__list-types-item">{{ 'URL Allow list'|trans }}</li>
                    </ul>

                    <div class="wtotem-tabs__content active">
                        <div class="firewall-configuration__ip-adress-wrapper">
                            {{ form.allow_ip }}
                            {{ form.allow_ip_submit }}
                            <span class="firewall-configuration__multi-adding" data-list="white" type="button">{{ 'Multi-adding IP'|trans }}</span>
                        </div>
                        <div id="wtotem_allow_list">
                            {% include '@wtotem/wtotem-allow-deny-list.html.twig' with {'list': allow_list} %}
                        </div>
                    </div>

                    <div class="wtotem-tabs__content">
                        <div class="firewall-configuration__ip-adress-wrapper">
                            {{ form.deny_ip }}
                            {{ form.deny_ip_submit }}
                            <span class="firewall-configuration__multi-adding multi-adding-deny_list" data-list="black">
                    {{ 'Multi-adding IP'|trans }}
                </span>
                        </div>

                        <div id="wtotem_deny_list">
                            {% include '@wtotem/wtotem-allow-deny-list.html.twig' with {'list': deny_list} %}
                        </div>
                    </div>

                    <div class="wtotem-tabs__content">
                        <div class="firewall-configuration__ip-adress-wrapper">
                            {{ form.allow_url }}
                            {{ form.allow_url_submit }}
                        </div>

                        <div id="wtotem_allow_url">
                            {% include '@wtotem/wtotem-allow-url-list.html.twig' with {'list': url_list} %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="wt_card notifications-settings">
                <div class="notifications-settings__header-wrapper">
                    <h3 class="h3 wtotem-mb-15">{{ 'Notifications'|trans }}</h3>
                    <p class="notifications-settings__text">
                        {{ 'Send me notifications on e-mail'|trans }}
                    </p>
                </div>
                <div style="position: relative;">
                    <ul class="togglers-list notifications-list">
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Availability/SSL'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.notification_wa }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Antivirus'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.notification_av }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Deface'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.notification_dc }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Reputation'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.notification_rc }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Port scanner'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.notification_ps }}
                            </div>
                        </li>
                        <li class="togglers-list__item">
                            <p class="togglers-list__name">{{ 'Firewall'|trans }}</p>
                            <div class="wtotem_option__checkbox onoff">
                                {{ form.notification_waf }}
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>

        <div class="wtotem_holder__sidebar">

            <div class="wtotem_item">
                <div class="wtotem_control wt_card">
                    <h4 class="h4 wtotem_control__title">
                        {{ 'Agent installation'|trans }}
                    </h4>
                    <p class="notifications-settings__text">{{ 'If you have any problems with our agent, we advise you to reinstall it'|trans }}</p>
                    <div class="wtotem_control__block">
                        <div class="wtotem_control__circle">
                            <img src="{{ av_status.icon }}" alt="{{ waf_status.name }}" class="wtotem_control__check-mark" />
                        </div>
                        <div class="wtotem_control__name">
                            {{ 'Antivirus'|trans }}
                        </div>
                    </div>
                    <div class="wtotem_control__block">
                        <div class="wtotem_control__circle">
                            <img src="{{ waf_status.icon }}" alt="{{ waf_status.name }}" class="wtotem_control__check-mark" />
                        </div>
                        <div class="wtotem_control__name">
                            {{ 'Firewall'|trans }}
                        </div>
                    </div>
                    <a class="use-ajax wtotem_button wtotem_control__btn" href="/wtotem/popup/reinstall_agents" >
                        <img src="{{ images_path }}reload.svg" alt=""> <span>{{ 'Reinstall agents'|trans }}</span>
                    </a>
                </div>
            </div>

            <div class="wtotem_item">
                <div class="wtotem_control wt_card">
                    <h2 class="h2 wtotem-waf-settings-popup__title">{{ 'Firewall configuration'|trans }}</h2>

                    <div class="wtotem-waf-settings-popup__form">

                        <div class="wtotem_firewall-section-menu-item">

                            <div class="wtotem_firewall-section-menu-item">
                                <div class="wt-flex wt-flex-middle"><strong>{{ 'DoS limits'|trans }}</strong><div>
                                        <div class="wtotem_title-info__info wtotem-tooltip">
                                            <div class="wtotem-tooltip__content">
                                                <p class="wtotem-tooltip__header">{{ 'DoS limits'|trans }}</p>
                                                <p class="wtotem-tooltip__text">
                                                    {{ 'Limits the number of requests per minute from an IP address.'|trans }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wtotem_option__checkbox onoff wtotem_switch-checkbox-with-text">

                                        {{ form.dos }}

                                        <label for="edit-dos" class="onoff__label">
                                            <span class="onoff__circle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            {{ form.dos_limit }}

                            <div class="wtotem_firewall-section-menu-item">
                                <div class="wt-flex wt-flex-middle"><strong>{{ 'Login attempts'|trans }}</strong><div>
                                        <div class="wtotem_title-info__info wtotem-tooltip">
                                            <div class="wtotem-tooltip__content">
                                                <p class="wtotem-tooltip__header">{{ 'Login attempts'|trans }}</p>
                                                <p class="wtotem-tooltip__text">
                                                    {{ 'Limits the number of login attempts per minute.'|trans }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wtotem_option__checkbox onoff wtotem_switch-checkbox-with-text">

                                        {{ form.login_attempt }}

                                        <label for="edit-login-attempt" class="onoff__label">
                                            <span class="onoff__circle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="wtotem_login_attempt_limit">
                                {{ form.login_attempt_limit }}


                                <div class="wtotem_firewall-section-menu-item">
                                    <div class="wt-flex wt-flex-middle"><strong>GDN</strong><div>
                                            <div class="wtotem_title-info__info wtotem-tooltip">
                                                <div class="wtotem-tooltip__content">
                                                    <p class="wtotem-tooltip__header">GDN</p>
                                                    <p class="wtotem-tooltip__text">
                                                        {{ 'This option protects you from hackers detected on other websites connected to our global defence network.'|trans }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wtotem_option__checkbox onoff wtotem_switch-checkbox-with-text">

                                            {{ form.gdn }}

                                            <label for="edit-gdn" class="onoff__label">
                                                <span class="onoff__circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                {{ form.waf_submit }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="firewall-multi-adding side-modal">
  <section class="side-modal__content wt_card">

    <div class="side-modal__header-wrapper">
      <h2 class="h2 side-modal__title">{{ 'Multi-adding IP'|trans }}</h2>
      <span class="firewall-multi-adding__close side-modal__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 0C5.38338 0 0 5.38292 0 12C0 18.6171 5.38338 24 12 24C18.6166 24 24 18.6171 24 12C24 5.38292 18.6166 0 12 0ZM12 23.0769C5.89246 23.0769 0.923077 18.1075 0.923077 12C0.923077 5.89246 5.89246 0.923077 12 0.923077C18.1075 0.923077 23.0769 5.89246 23.0769 12C23.0769 18.1075 18.1075 23.0769 12 23.0769Z" fill="#5E6977" />
                    <path d="M16.4803 7.51987C16.2998 7.33941 16.0081 7.33941 15.8277 7.51987L12.0001 11.3474L8.17261 7.51987C7.99214 7.33941 7.70045 7.33941 7.51999 7.51987C7.33953 7.70033 7.33953 7.99202 7.51999 8.17248L11.3475 12L7.51999 15.8276C7.33953 16.008 7.33953 16.2997 7.51999 16.4802C7.60999 16.5702 7.72814 16.6154 7.8463 16.6154C7.96445 16.6154 8.08261 16.5702 8.17261 16.4802L12.0001 12.6526L15.8277 16.4802C15.9177 16.5702 16.0358 16.6154 16.154 16.6154C16.2721 16.6154 16.3903 16.5702 16.4803 16.4802C16.6608 16.2997 16.6608 16.008 16.4803 15.8276L12.6528 12L16.4803 8.17248C16.6608 7.99202 16.6608 7.70033 16.4803 7.51987Z" fill="#5E6977" />
                </svg>
            </span>
    </div>

    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

    <div class="firewall-multi-adding__form">

      {{ form.list }}

      <div class="firewall-multi-adding__label-wrapper">
        <label class="firewall-multi-adding__label" for="ip-list">
          {{ 'IP lists configuration'|trans }}
        </label>
        <div class="wtotem_title-info__info wtotem-tooltip firewall-multi-adding__tooltip">
          <div class="wtotem-tooltip__content wtotem-tooltip__content--top-center firewall-multi-adding__tooltip-content">
            <p class="wtotem-tooltip__header firewall-multi-adding__tooltip-header">{{ 'How to use?'|trans }}</p>
            <p class="wtotem-tooltip__text">
              {{ 'If you want to add several IP addresses at once, you can add the address separated by commas.'|trans }}
            </p>
          </div>
        </div>
      </div>

      {{ form.ips }}

      <p class="wtotem_input__error_text"></p>
      <p class="wtotem_input__success"></p>
      {{ form.submit }}
    </div>
  </section>
  <div class="side-modal__overlay"></div>
</div>

{% include '@wtotem/wtotem-footer.html.twig'  with {'current_year': current_year}  %}
