{% for report in reports %}
<tr class="wtotem_reports-table__row">
    <td class="wtotem_reports-table__column">{{ report.created_at }}</td>
    <td class="wtotem_reports-table__column">PDF</td>
    <td class="wtotem_reports-table__column" style="max-width:420px;">
        {{ report.modules }}
    </td>

    <td class="wtotem_reports-table__column wtotem_reports-table__column--actions">
        <div class="wtotem_reports-table__buttons-wrapper">
            <a href="/wtotem/reports/download/{{ report.id }}" class="use-ajax wtotem_reports-table__button wtotem_reports-table__button--download">
                <span class="visually-hidden">{{ 'Download'|trans }}</span>
            </a>
        </div>
    </td>
</tr>
{% endfor %}


{% if has_next_page %}
<tr class="" id="reports_load_more">
    <td colspan="5">
        <div class="wtotem_reports-list__load-more-wrapper">
            <a href="/wtotem/lazy_load/reports" class="use-ajax wtotem_more_btn">{{ 'Show more'|trans }}</a>
        </div>
    </td>
</tr>
{% endif %}
