<div class="wtotem_last_scan_av wt_card">
    {{ 'Last scan'|trans }} <span id="wtotem_last_scan_av">{{ last_scan }}</span>
</div>
<div class="wtotem_file-table wt_card">
    <div class="wtotem_file-table__thead {% if logs is empty %} visually-hidden {% endif %}">
        <div class="wtotem_file-table__tr">
            <div class="wtotem_file-table__th">
                {{ 'File'|trans }}
            </div>
            <div class="wtotem_file-table__th">
                {{ 'Permission'|trans }}
                <div class="wtotem_title-info__info wtotem-tooltip">
                    <div class="wtotem-tooltip__content">
                        <p class="wtotem-tooltip__header">{{ 'Permission'|trans }}</p>
                        <p class="wtotem-tooltip__text">{{ 'Shows permissions or access rights configurations.'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="wtotem_file-table__th">
                {{ 'Time'|trans }}
            </div>
            <div class="wtotem_file-table__th">
                {{ 'Status'|trans }}
            </div>
            <div class="wtotem_file-table__th" style="text-align: center;">
                {{ 'Actions'|trans }}
            </div>
        </div>
    </div>
    <div class="wtotem_file-table__tbody" id="av_logs_wrap">
        {% include '@wtotem/wtotem-antivirus-logs.html.twig' with {'logs': logs, 'has_next_page': has_next_page} %}
    </div>

    <div class="wtotem_more_btn_wrap">
    {% if has_next_page %}
        <a href="/wtotem/lazy_load/antivirus" class="use-ajax wtotem_more_btn" id="av_load_more">{{ 'Show more'|trans }}</a>
    {% endif %}
    </div>
</div>

<div class="wtotem_state__line"></div>

<div class="wtotem_state__last">
    <div class="wtotem_state__text">
        {{ 'Need more support'|trans }}
        <a target="_blank" href="https://wtotem.com/#hs-chat-open">{{ 'Let\'s talk!'|trans }}</a>
    </div>
</div>
