<div class="wtotem_body ">
    <main class="wtotem_content wtotem_not-working">
        <div class="wtotem_container">
            <div class="wtotem_not-working__card message-card">
                <h2 class="h2 wtotem_not-working__title message-card__title">
                   {{ 'Oh...Your module is not working'|trans }}
                </h2>
                <img class="wtotem_not-working__img" src="{{ images_path }}pic-girl-with-notebook.svg" width="183" height="156" />
                <p class="wtotem_not-working__text">
                    {{ 'Your module is not activated or your subscription plan is expired'|trans }}
                </p>

                <a href="/admin/config/system/wtotem" class="wtotem_button wtotem_control__btn">
                    {{ 'Go to settings page'|trans }}
                </a>
            </div>
        </div>
    </main>
</div>
