{% if process_status %}
<div class="wtotem_unit">
    <div class="wtotem_unit__first section-header-mb">
        <h2 class="h2 title">
            {{ 'Agent manager installation' | trans }}
        </h2>
    </div>

    <div class="wtotem_unit__wrapper wt_card" id="wtotem_agents_wrap">
        {% include '@wtotem/wtotem-agents-installation.html.twig' with {'process_status': process_status, 'images_path': images_path} %}
    </div>
</div>
{% endif %}
