
        </div>
    </div>

    <div class="wtotem_footer">
        <div class="wtotem_container">
            <div class="wtotem_footer__first">
                <div class="wtotem_footer__caption">
                    <div class="wtotem_footer__logo"></div>
                    <p class="wtotem_footer__text">
                        {{ 'Your best friend in cybersecurity world'|trans }}
                    </p>
                </div>
            </div>

            <div class="wtotem_footer__line"></div>

            <div class="wtotem_footer__bottom">
                <div class="wtotem_footer__left">
                    <p class="wtotem_footer__text">
                        © 2017-{{ current_year }} {{ 'All rights reserved'|trans }}
                    </p>
                </div>
                <div class="wtotem_footer__soc">
                    <a target="_blank" href="https://www.facebook.com/webtotem" class="wtotem_footer__soc-link">
                        <img src="{{ images_path }}fc.svg" alt="Facebook icon" />
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company/wtotem/" class="wtotem_footer__soc-link">
                        <img src="{{ images_path }}lk.svg" alt="Linkedin icon" />
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCD-n_NIXTOmw4Nm-LcmW1XA/featured" class="wtotem_footer__soc-link">
                        <img src="{{ images_path }}youtube.svg" alt="Youtube icon" />
                    </a>
                </div>
                <div class="wtotem_footer__payment">
                    <img class="wtotem_footer__card wtotem_footer__card_visa" src="{{ images_path }}visa.svg" alt="Visa"/>
                    <img class="wtotem_footer__card wtotem_footer__card_master" src="{{ images_path }}master-card.svg" alt="Master wt_card"/>
                    <img class="wtotem_footer__card wtotem_footer__card_payPal" src="{{ images_path }}paypal.svg" alt="PayPal"/>
                </div>
            </div>
        </div>
    </div>
</div>