<div class="wtotem_state wt_card">
    <div class="wtotem_antivirus__logs wtotem_antivirus-logs">
        <div class="wtotem_antivirus-logs__panel">

            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}

            <div class="wtotem_state__select-wrapper wtotem_antivirus-logs__filter">
                {{ form.file_status }}
            </div>

            <div class="wtotem_antivirus-logs__permission wt-checkbox">
                {{ form.permission }}
            </div>
            <div class="wtotem_antivirus-logs__buttons-wrapper">
                <a href="/wtotem/antivirus/download_report" class="use-ajax wtotem_antivirus-logs__button wtotem_antivirus-logs__button--download" id="wtotem_av_export" type="button">
                    <span class="wtotem_antivirus-logs__button-text">{{ 'Download'|trans }}</span>
                </a>

                <a href="/wtotem/antivirus/rescan" class="use-ajax wtotem_antivirus-logs__button wtotem_antivirus-logs__button--rescan" id="wtotem_rescan" type="button">
                    <span class="wtotem_antivirus-logs__button-text">{{ 'Rescan'|trans }}</span>
                </a>
            </div>

        </div>
    </div>
</div>