<div class="wtotem_antivirus" id="antivirus_stats">
    <div class="wtotem_antivirus__block wt_card">

      {% if page == 'antivirus' %}
      <a href="/wtotem/antivirus_filter/scanned" class="wtotem_antivirus__item use-ajax">
            <div class="wtotem_antivirus__figures wtotem_antivirus__figures_green">
                {{ scanned }}
            </div>
            <div class="wtotem_antivirus__title">
                {{ 'Scanned files'|trans }}
            </div>
        </a>

        <a href="/wtotem/antivirus_filter/modified" class="wtotem_antivirus__item use-ajax">
            <div class="wtotem_antivirus__figures wtotem_antivirus__figures_yellow">
                {{ changes }}
            </div>
            <div class="wtotem_antivirus__title">
                {{ 'Changed files'|trans }}
            </div>
        </a>

        <a href="/wtotem/antivirus_filter/deleted" class="wtotem_antivirus__item use-ajax">
            <div class="wtotem_antivirus__figures wtotem_antivirus__figures_black">
                {{ deleted }}
            </div>
            <div class="wtotem_antivirus__title">
                {{ 'Deleted files'|trans }}
            </div>
        </a>

        <a href="/wtotem/antivirus_filter/infected" class="wtotem_antivirus__item use-ajax">
            <div class="wtotem_antivirus__figures wtotem_antivirus__figures_orange">
                {{ infected }}
            </div>
            <div class="wtotem_antivirus__title">
                {{ 'Infected files'|trans }}
            </div>
        </a>

      {% else %}
        <div class="wtotem_antivirus__item">
          <div class="wtotem_antivirus__figures wtotem_antivirus__figures_green">
            {{ scanned }}
          </div>
          <div class="wtotem_antivirus__title">
            {{ 'Scanned files'|trans }}
          </div>
        </div>

        <div class="wtotem_antivirus__item">
          <div class="wtotem_antivirus__figures wtotem_antivirus__figures_yellow">
            {{ changes }}
          </div>
          <div class="wtotem_antivirus__title">
            {{ 'Changed files'|trans }}
          </div>
        </div>

        <div class="wtotem_antivirus__item">
          <div class="wtotem_antivirus__figures wtotem_antivirus__figures_black">
            {{ deleted }}
          </div>
          <div class="wtotem_antivirus__title">
            {{ 'Deleted files'|trans }}
          </div>
        </div>

        <div class="wtotem_antivirus__item">
          <div class="wtotem_antivirus__figures wtotem_antivirus__figures_orange">
            {{ infected }}
          </div>
          <div class="wtotem_antivirus__title">
            {{ 'Infected files'|trans }}
          </div>
        </div>

      {% endif %}

    </div>
</div>
