<div class="wtotem_welcome-wrapper">
    <div class="wtotem_content">
        <div class="wtotem_container">
            {% include '@wtotem/wtotem-notifications.html.twig' with {'notifications': notifications, 'images_path': images_path } %}
        </div>
    </div>
    <div class="wtotem_welcome-wrapper__head-height">
        <div class="wtotem_modal">
            <h2 class="h2 wtotem_modal__subject">
                {{ 'Activate the module'|trans }}
            </h2>

            <div class="wtotem_modal__window wt_card">
                {{ form.form_build_id }}
                {{ form.form_token }}
                {{ form.form_id }}

                <h3 class="h3 wtotem_modal__title">
                    {{ form.activated_status }}
                </h3>
                <p class="wtotem_modal__text">
                    {{ form.current_api_key }}
                </p>
                <div class="wtotem_modal__block">
                    <img src="{{ images_path }}logo-circle.svg" alt="Web Totem" class="wtotem_modal__logo" />
                </div>
                <div class="wtotem_modal__wrap">
                    {{ form.api_key }}
                </div>
                {{ form.submit }}

            </div>

            <p class="wtotem_modal__desc">
                {{ 'You can receive the keys in your personal account <a target="_blank" href=":url">cabinet</a> ' | trans({':url' : 'https://wtotem.com/cabinet/profile/keys'}) | raw  }}
                {{ 'or read the activation <a target="_blank" href=":url">manual</a>' | trans({':url' : 'https://docs.wtotem.com/plugin-for-wordpress#vy-to-activate-the-plugin'}) | raw }}
            </p>

        </div>
    </div>


</div>
