<div class="wtotem_waf_filter__wrapper wt_card">
    <div class="wtotem_chart-first">
        <div class="wtotem_chart-first__left">
            <div class="wtotem_chart-first__hack wtotem_chart-first__hack_attack">
                <span></span>
                <p>{{ 'Attacks'|trans }}</p>
            </div>
            <div class="wtotem_chart-first__hack wtotem_chart-first__hack_blocked">
                <span></span>
                <p>{{ 'Blocked'|trans }}</p>
            </div>
        </div>


        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}

        <div class="wtotem_chart__calendars">
            <div class="wtotem_calendar-icon"></div>
            {{ form.from }}
            <div class="wtotem_calendar-connect">
                -
            </div>
            {{ form.to }}
        </div>


        {% include '@wtotem/parts/wtotem-chart-periods.html.twig' with { 'service': 'waf', 'days': 7 } %}
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function () {
      const calendarElement = document.querySelector("#edit-from");
      const calendarGroup = document.querySelector(".wtotem_chart__calendars");
      if(calendarElement) {
        setFlatpickr_(calendarElement,"#edit-from", "#edit-to", calendarGroup);
      }
    });
</script>
