<div class="wtotem_reports">
    <div class="wtotem_content">
        <div class="wtotem_container wtotem_reports__content">
            <div class="wtotem_reports__header section-header-mb">
                <h1 class="h1 title wtotem_reports__title">
                    {{ 'Reports'|trans }}
                </h1>

                <button class="wtotem_reports__btn button add_report" type="button">
                    {{ 'Generate report'|trans }}
                </button>
            </div>

            {% if reports %}
                <!-- Reports list -->
                <section class="wtotem_reports-list">
                    <h2 class="h2 visually-hidden"> {{ 'Report data'|trans }}</h2>
                    <table class="wtotem_reports-list__table wtotem_reports-table">
                        <thead>
                        <tr class="wtotem_reports-table__row wtotem_reports-table__row--header">
                            <th class="wtotem_reports-table__column"> {{ 'Generated time'|trans }}</th>
                            <th class="wtotem_reports-table__column"> {{ 'Type'|trans }}</th>
                            <th class="wtotem_reports-table__column" style="max-width:420px;"> {{ 'Modules'|trans }}</th>
                            <th class="wtotem_reports-table__column wtotem_reports-table__column--actions">
                                {{ 'Actions'|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody id="reports_logs_wrap">
                            {% include '@wtotem/wtotem-reports-list.html.twig' with {'reports': reports} %}
                        </tbody>
                    </table>

                    <!-- accordion for mobiles -->
                    <div class="wtotem_reports-list__accordion wtotem_reports-accordion">
                        <ul class="wtotem_reports-accordion__list" id="reports_m_logs_wrap">
                            {% include '@wtotem/wtotem-reports-list-mobile.html.twig' with {'reports': reports} %}
                        </ul>
                    </div>

                </section>
            {% else %}
                <section class="wtotem_reports-list" style="display: none">
                    <h2 class="h2 visually-hidden"> {{ 'Report data'|trans }}</h2>
                    <table class="wtotem_reports-list__table wtotem_reports-table">
                        <thead>
                            <tr class="wtotem_reports-table__row wtotem_reports-table__row--header">
                                <th class="wtotem_reports-table__column"> {{ 'Generated time'|trans }}</th>
                                <th class="wtotem_reports-table__column"> {{ 'Type'|trans }}</th>
                                <th class="wtotem_reports-table__column" style="max-width:420px;"> {{ 'Modules'|trans }}</th>
                                <th class="wtotem_reports-table__column wtotem_reports-table__column--actions">
                                  {{ 'Actions'|trans }}
                                </th>
                            </tr>
                        </thead>
                        <tbody id="reports_logs_wrap"></tbody>
                    </table>

                    <!-- accordion for mobiles -->
                    <div class="wtotem_reports-list__accordion wtotem_reports-accordion">
                        <ul class="wtotem_reports-accordion__list" id="reports_m_logs_wrap"></ul>
                    </div>
                </section>
                <!-- No data block -->
                <section class="wtotem_reports-no-data" >
                    <h2 class="h2 visually-hidden"> {{ 'No data'|trans }}</h2>
                    <p class="wtotem_reports-no-data__text">
                        {{ 'Has no action ready yet'|trans }}
                    </p>
                    <button class="wtotem_reports__btn button add_report" type="button">
                        {{ 'Generate new report'|trans }}
                    </button>
                </section>

            {% endif %}
        </div>
    </div>
</div>
