<div class="wtotem_monitoring" id="monitoring">
    <div class="wtotem_table wt_card">
        <div class="wtotem_table__row">
            <div class="wtotem_table__col" {% if domain == false %}style="width: 50%"{% endif %}>
                <div class="wtotem_table__th">
                    <h3 class="h3 wtotem_table__title wtotem_title-info__title">
                        SSL
                        <span class="wtotem_title-info__info wtotem-tooltip">
                            <span class="wtotem-tooltip__content">
                                <span class="wtotem-tooltip__header">{{ 'SSL module'|trans }}</span>
                                <span class="wtotem-tooltip__text">{{ 'Displays the status of the SSL Certificate.'|trans }}</span>
                            </span>
                        </span>
                    </h3>
                </div>
                {% if ssl.status.name == 'pending' or ssl == null %}
                    {% include '@wtotem/parts/wtotem-dots-loader.html.twig' %}
                {% else %}
                    <div class="wtotem_table__td">
                        <div class="wtotem_table__expired">
                            <span class="{{ ssl.status.class }}">{{ ssl.status.text }}</span>
                        </div>
                    </div>

                    {% if ssl.cert_name %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">
                                {{ 'Cert name'|trans }}
                            </h3>
                            <div class="wtotem_table__text">
                                {{ ssl.cert_name }}
                            </div>
                        </div>
                    {% endif %}

                    {% if ssl.days_left %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">
                                {{ 'Days left'|trans }}
                            </h3>
                            <div class="wtotem_table__text">
                                {{ ssl.days_left }}
                            </div>
                        </div>
                    {% endif %}

                    {% if ssl.issue_date %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">
                                {{ 'Issue date'|trans }}
                            </h3>
                            <div class="wtotem_table__text">
                                {{ ssl.issue_date }}
                            </div>
                        </div>
                    {% endif %}

                    {% if ssl.expiry_date %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">
                                {{ 'Expiry date'|trans }}
                            </h3>
                            <div class="wtotem_table__text">
                                {{ ssl.expiry_date }}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}

            </div>

            {% if domain != false %}
            <div class="wtotem_table__col">
                <div class="wtotem_table__th">
                    <h3 class="h3 wtotem_table__title wtotem_title-info__title">
                        {{ 'Domain'|trans }}

                    </h3>
                </div>


                {% if domain.status.name == 'pending' or domain.status.name is empty %}
                    {% include '@wtotem/parts/wtotem-dots-loader.html.twig' %}
                {% else %}

                    <div class="wtotem_table__item">
                        <div class="wtotem_table__wrap_big">
                            <img src="{{ domain.status.image }}" data-status="{{ domain.status.name }}" class="wtotem_table__img"/>
                        </div>
                    </div>

                    <div class="wtotem_table__info">
                        <h3 class="h3 wtotem_table__subject">{{ 'Presence of the site'|trans }}</h3>
                        <div class="wtotem_table__text">
                            <img width="18px" height="18px" src="{{ images_path }}{% if domain.is_taken  %}check.svg{% else %}minus.svg {% endif %}" class="svg-icon">
                        </div>
                    </div>

                    {% if domain.redirect_link  %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">{{ 'Redirect'|trans }}</h3>
                            <div class="wtotem_table__text">{{ domain.redirect_link }}</div>
                        </div>
                    {% endif %}

                    {% if domain.ips  %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">{{ 'IP address'|trans }}</h3>
                            <div class="wtotem_table__text">
                                <select name="ip" aria-label="ip" class="wtotem_select__inner" data-testid="select-ip">
                                    {% for item in domain.ips %}
                                        <option value="{{ item.ip }}">{{ item.ip }}, {{ item.location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {% if domain.protection  %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">{{ 'Site protection'|trans }}</h3>
                            <div class="wtotem_table__text">{{ domain.protection }}</div>
                        </div>
                    {% endif %}


                    {% if domain.is_created_at  %}
                        <div class="wtotem_table__info">
                            <h3 class="h3 wtotem_table__subject">{{ 'Check time'|trans }}</h3>
                            <div class="wtotem_table__text">{{ domain.created_at }}</div>
                        </div>
                    {% endif %}


                {% endif %}
            </div>
            {% endif %}

            <div class="wtotem_table__col" {% if domain == false %}style="width: 50%"{% endif %}>
                <div class="wtotem_table__th">
                    <h3 class="h3 wtotem_table__title wtotem_title-info__title">{{ 'Reputation'|trans }}
                        <div class="h3 wtotem_title-info__info wtotem-tooltip">
                            <div class="wtotem-tooltip__content">
                                <p class="wtotem-tooltip__header">{{ 'Reputation module'|trans }}</p>
                                <p class="wtotem-tooltip__text">{{ 'Checks website entries in 60+ blacklisting authorities.'|trans }}</p>
                            </div>
                        </div>
                    </h3>
                </div>

                {% if reputation.status.name == 'pending' %}
                    {% include '@wtotem/parts/wtotem-dots-loader.html.twig' %}
                {% else %}

                    <div class="wtotem_table__td">
                        <div class="wtotem_table__wrap">
                            {% if reputation.status.image %}
                                <img src="{{ reputation.status.image }}" class="wtotem_table__img"/>
                            {% endif %}
                        </div>

                        <div class="wtotem_table__perfomance wtotem_table__perfomance_long wtotem-ml-20">{{ reputation.info }}</div>
                    </div>
                    <div class="wtotem_table__info">
                        <h3 class="h3 wtotem_table__subject">
                            {{ 'Status'|trans }}
                            <div class="wtotem_title-info__info wtotem-tooltip">
                                <div class="wtotem-tooltip__content">
                                    {{ reputation.status.tooltips }}
                                </div>
                            </div>
                        </h3>
                        <div class="wtotem_table__status">{{ reputation.status.text }}</div>
                    </div>
                    <div class="wtotem_table__info">
                        <h3 class="h3 wtotem_table__subject">
                            {{ 'Deny lists entries'|trans }}
                        </h3>
                        <div class="wtotem_table__text">
                            {{ reputation.blacklists_entries }}
                        </div>
                    </div>
                    <div class="wtotem_table__info">
                        <h3 class="h3 wtotem_table__subject">
                            {{ 'Last test'|trans }}
                        </h3>
                        <div class="wtotem_table__text">
                            {{ reputation.last_test }}
                        </div>
                    </div>
                    <div class="wtotem_table__info"></div>

                {% endif %}
            </div>
        </div>
        <div class="wtotem_table__footer">
            <a target="_blank" href="https://wtotem.com/faq/#hs-chat-open" class="wtotem_table__link">
                <div class="wtotem_table__perfomance">

                    <span>{{ 'Need more support?'|trans }} {{ 'Let\'s talk!'|trans }}</span>
                </div>
            </a>
        </div>
    </div>
</div>
