<script>
  window.addEventListener('DOMContentLoaded', function () {
    const settingsCalendarElement = document.querySelector("#edit-report-date-from");
    const settingsCalendarGroup = document.querySelector(".wtotem_reports-settings__dates");
    const settingsCalendar = setFlatpickr_(settingsCalendarElement, "#edit-report-date-from", "#edit-report-date-to", settingsCalendarGroup);

    document.querySelector('.wtotem_reports-settings__period-list').addEventListener('change', (evt) => {
      if (evt.target.tagName !== 'INPUT') {
        return;
      }

      const subMonths = (date, months) => {
        const result = new Date(date);
        result.setMonth(result.getMonth() - months);
        return result;
      };

      const months = parseInt(evt.target.value, 10);
      const dateTo = new Date();
      const dateFrom = subMonths(dateTo, months);

      settingsCalendar.setDate([dateFrom, dateTo], true);
    });
  });
</script>
<!-- Report settings modal -->
<div class="wtotem_reports-modal wtotem_reports-modal--hidden">
    <div class="wtotem_reports-modal__content">

        <button class="wtotem_reports-modal__close" type="button">
            <span class="visually-hidden"> {{ 'Close'|trans }}</span>
        </button>

        <h2 class="h2 visually-hidden"> {{ 'Report settings'|trans }}</h2>

        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}

        <p class="wtotem_reports-settings__field-title"> {{ 'Select report period'|trans }}</p>
        <ul class="wtotem_reports-settings__period-list">
            <li class="wtotem_reports-settings__period-item">
                <input class="wtotem_reports-settings__period-radio" type="radio" id="month-1" name="period"
                       value="1" checked>
                <label class="wtotem_reports-settings__period-label" for="month-1">
                    {% set count = 1 %}
                    {% trans %}
                        1 month
                    {% plural count %}
                        {{ count }} months
                    {% endtrans %}
                </label>
            </li>
            <li class="wtotem_reports-settings__period-item">
                <input class="wtotem_reports-settings__period-radio" type="radio" id="month-3" name="period"
                       value="3">
                <label class="wtotem_reports-settings__period-label" for="month-3">
                    {% set count = 3 %}
                    {% trans %}
                        1 month
                    {% plural count %}
                        {{ count }} months
                    {% endtrans %}
                </label>
            </li>
            <li class="wtotem_reports-settings__period-item">
                <input class="wtotem_reports-settings__period-radio" type="radio" id="month-6" name="period"
                       value="6">
                <label class="wtotem_reports-settings__period-label" for="month-6">
                    {% set count = 6 %}
                    {% trans %}
                        1 month
                    {% plural count %}
                        {{ count }} months
                    {% endtrans %}
                </label>
            </li>
            <li class="wtotem_reports-settings__period-item">
                <input class="wtotem_reports-settings__period-radio" type="radio" id="year-1" name="period"
                       value="12">
                <label class="wtotem_reports-settings__period-label" for="year-1"> 1 {{ 'year'|trans }}</label>
            </li>
        </ul>

        <div class="wtotem_reports-settings__dates">
            {{ form.report_date_from }}
            <span class="wtotem_reports-settings__date-divider">-</span>
            {{ form.report_date_to }}
        </div>

        <p class="wtotem_reports-settings__field-title--modules"> {{ 'Choose modules'|trans }}</p>
        <ul class="wtotem_reports-settings__modules-list">
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Availability'|trans }}</p>
                {{ form.module_availability }}
            </li>
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Deface'|trans }}</p>
                {{ form.module_deface }}
            </li>
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Ports'|trans }}</p>
                {{ form.module_ports }}
            </li>
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Reputation'|trans }}</p>
                {{ form.module_reputation }}
            </li>
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Scoring'|trans }}</p>
                {{ form.module_scoring }}
            </li>
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Antivirus'|trans }}</p>
                {{ form.module_antivirus }}
            </li>
            <li class="wtotem_reports-settings__module-item">
                <p class="wtotem_reports-settings__module-title"> {{ 'Firewall'|trans }}</p>
                {{ form.module_firewall }}
            </li>
        </ul>

        {{ form.submit }}
        {{ form.messages }}
    </div>
</div>
