{% for port in ports %}
    <li class="port__result-list-item"
        data-port="{{ port.port }}"
        data-technology="{{ port.technology }}"
        data-version="{{ port.version }}"
        data-summary="{{ port.cve_summary }}"
    >{{ port.port }}</li>
{% endfor %}

{% if more %}
    <li><span class="port__result-more-btn" id="wtotem_ps_settings">{{ 'More'|trans }}+</span></li>
{% endif %}