{% for notice in notifications %}
    <div class="wtotem_alert wt_card" id="wtotem_alert_{{ notice.id }}">
        <div class="wtotem_alert__desc">
            <div class="wtotem_alert__img">
                <img src="{{ images_path }}{{ notice.image }}">
            </div>
            <div class="wtotem_alert__title {{ notice.class }}">{{ notice.type }}: </div>
            <p class="wtotem_alert__text">{{ notice.text }}</p>
        </div>
        <div class="wtotem_alert__close" ></div>

        <script>

            /* remove alert after 20 seconds */
            //setTimeout(() => { document.getElementById("wtotem_alert_{{ notice.id }}").remove(); }, 20000);
            jQuery(document).ready(function ($) {

                // Pop-up notification options.
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "5000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr["{{ notice.type_raw }}"]('{{ notice.text | raw }}');
            });
        </script>
    </div>
{% endfor %}


