<div class="popup-overlay" id="confirm-popup">

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $('#wt-cancel').on('click', function (e) {
        $('#confirm-popup').remove();
      });
    });
  </script>

  <div class="popup-content" style="position: relative; width: auto; margin: auto; border: 1px solid rgb(187, 187, 187); padding: 5px; border-radius: 10px;">
    <div class="confirmation-dialog">
      <h2 class="confirmation-dialog__title">{{ 'Are you sure?'|trans }}</h2>
      <p class="confirmation-dialog__text">{{ message }}</p>
      <div class="confirmation-dialog__buttons-wrapper">
        <a href="/wtotem/{{ action }}" class="use-ajax wt-button wt-button--red wt-button--size-300 wt-button--padded wt-font-700 confirmation-dialog__button" >{{ 'Continue'|trans }}</a>
        <button class="wt-button wt-button--success wt-button--size-300 wt-button--padded wt-font-700 confirmation-dialog__button" id="wt-cancel">{{ 'Cancel'|trans }}</button>
      </div>
    </div>
  </div>
</div>
