{% if list %}
    <table class="firewall-configuration__ip-list firewall-ip-table">
        <thead>
        <tr>
            <th class="firewall-ip-table__th">{{ 'IP Address'|trans }}</th>
            <th class="firewall-ip-table__th">{{ 'Date added'|trans }}</th>
            <th class="firewall-ip-table__th">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr class="firewall-ip-table__tr">
                <td class="firewall-ip-table__td">{{ item.ip }}</td>
                <td class="firewall-ip-table__td">{{ item.created_at }}</td>
                <td class="firewall-ip-table__td">
                    <a href="/wtotem/remove/{{ item.list_name }}/{{ item.id }}" class="use-ajax firewall-ip-table__remove">
                        {{ 'Remove'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="wtotem-firewall-settings__no-data">
        <div class="wtotem-firewall-settings__no-data-icon">
            <img src="{{ images_path }}list.svg">
        </div>
        <div>
            {{ 'No IP address here'|trans }}
        </div>
    </div>
{% endif %}