<div class="wtotem_body {{ theme_mode.is_dark_mode }}">
    <div class="wtotem_header wt_card">
        <div class="wtotem_container">
            <div class="wtotem_header__body">
                <div class="wtotem_version">
                    <div class="wtotem_logo"></div>
                    <span class="wtotem_version__count">2.0</span>
                </div>
                <div class="wtotem_burger">
                    <span class="wtotem_burger__middle-line"></span>
                </div>

                <nav class="wtotem_nav">
                    <ul class="wtotem_nav__menu">
                        <li class="wtotem_control__checkbox" id="color_scheme_toggle">
                            <input type="checkbox" class="wtotem_control__input" id="theme_mode" {{ theme_mode.dark_mode_checked }} />
                            <label for="theme_mode" class="wtotem_control__label">
                                <span class="wtotem_control__switched-circle"></span>
                            </label>
                        </li>

                        <li class="wtotem_nav__item">
                            <a href="dashboard" class="wtotem_nav__link {{ is_active.dashboard }}">
                                {{ 'Dashboard'|trans }}
                            </a>
                        </li>

                        <li class="wtotem_nav__item">
                            <a href="firewall" class="wtotem_nav__link {{ is_active.firewall }}">
                                {{ 'Firewall'|trans }}
                            </a>
                        </li>

                        <li class="wtotem_nav__item">
                            <a href="antivirus" class="wtotem_nav__link {{ is_active.antivirus }}">
                                {{ 'Antivirus'|trans }}
                            </a>
                        </li>

                        <li class="wtotem_nav__item">
                            <a href="settings" class="wtotem_nav__link {{ is_active.settings }}">
                                {{ 'Settings'|trans }}
                            </a>
                        </li>
                        <li class="wtotem_nav__item">
                            <a href="reports" class="wtotem_nav__link {{ is_active.reports }}">
                                {{ 'Reports'|trans }}
                            </a>
                        </li>
                        <li class="wtotem_nav__item">
                            <a href="information" class="wtotem_nav__link {{ is_active.information }}">
                                {{ 'Information'|trans }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="wtotem_content">
        <div class="wtotem_container">
            <div class="wtotem_notifications_wrapper" id="wtotem_notifications">
                {% include '@wtotem/wtotem-notifications.html.twig' with {'notifications': notifications, 'images_path': images_path } %}
            </div>
        </div>
    </div>

    <div class="wtotem_content">
        <div class="wtotem_container">
