{% if service %}
<div class="wtotem_chart-first__right" id="{{ service }}_chart_btn">
    <a href="/wtotem/chart/{{ service }}/365"
       class="use-ajax wtotem_chart-first__btn {% if days == 365 %} wtotem_chart-first__btn_active {% endif %}" id="{{ service }}_days_365">
        {{ 'Year'|trans }}
    </a>
    <a href="/wtotem/chart/{{ service }}/31"
       class="use-ajax wtotem_chart-first__btn {% if days == 31 %} wtotem_chart-first__btn_active {% endif %}" id="{{ service }}_days_31">
        {{ 'Month'|trans }}
    </a>
    <a href="/wtotem/chart/{{ service }}/7"
       class="use-ajax wtotem_chart-first__btn {% if days == 7 %} wtotem_chart-first__btn_active {% endif %}" id="{{ service }}_days_7">
        {{ 'Week'|trans }}
    </a>
    <a href="/wtotem/chart/{{ service }}/1"
       class="use-ajax wtotem_chart-first__btn {% if days == 1 %} wtotem_chart-first__btn_active {% endif %}" id="{{ service }}_days_1">
        {{ 'Day'|trans }}
    </a>
</div>
{% endif %}